.section {
    display: flex;
    padding: 16px;
}

.section-image {
    max-width: 9vh;
    height: auto;
}

.section-text {

}

.more-info-section {
    text-align: right;
}

.section-image-container{
    margin: 0 16px;
    padding: 16px;
    background-color: #fafafa;
    border-radius: 2vh;
    height: fit-content;
}