<mat-toolbar color="primary">

  <div class="logo-toolbar">
      <a href="./">
          <app-icon></app-icon>
      </a>
  </div>

  <div class="flex-stretch"></div>

  <button mat-icon-button 
  (click)="toggleMode()"
  attr.aria-label="{{ariaLabelMode}}"
  name="{{ariaLabelMode}}">
      <mat-icon>{{iconMode}}</mat-icon>
  </button>

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon aria-label="Open menu" *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon aria-label="Close menu" *ngIf="sidenav.opened">close</mat-icon>
  </button>

</mat-toolbar>



  
<app-content [darkMode]="darkMode">
  
  <mat-sidenav-container>
    
    <mat-sidenav 
    color="primary" 
    #sidenav = "matSidenav">

      <img [src]="profileImage" attr.alt="Photo of {{name}}" class="avatar mat-elevation-z8" > 
      <h4 class="name">{{name}}</h4>
      <p class="profession">{{profession}}</p>
      <mat-divider></mat-divider>
     
      <a mat-button class="menu-button" *ngFor="let item of menu" href="{{item.url}}">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
      </a>
  
    </mat-sidenav>
    

    <mat-sidenav-content class="app-mat-background">

      <div class="content mat-elevation-z4"> 
        <app-about-me></app-about-me>
      </div>

      <div [id]="educationSection.id" class="education-section">
        <div class="content mat-elevation-z4" *ngFor="let section of educationSection.content"> 
          <app-section [data]="section"></app-section>      
        </div>
      </div>

      

    </mat-sidenav-content>
    
  </mat-sidenav-container>

    
</app-content>